.idea/*
**/bin/
**/target/
*.class
*.jar
*.iml
.svn/
.classpath
.project
.settings/
*.log      
*.gz
*.log.zip
**/tomcat-log/
**/logs/
**/application-local.yml
**/bootstrap-local.yml
**/rebel.xml
node_modules
build
.vscode
